name: Validate with hacs

on:
  push:
    branches:
      - main
    paths:
      - 'custom_components/**'
      - 'hacs.json'
      - '.github/workflows/validate.yml'
  pull_request:
    paths:
      - 'custom_components/**'
      - 'hacs.json'
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  validate:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v4"
      - name: HACS validation
        uses: "hacs/action@main"
        with:
          category: "integration"